name: ecommerce_flutter
description: "Ecommerce Application"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  bloc: ^9.1.0
  cached_network_image: ^3.4.1
  cupertino_icons: ^1.0.8
  flash: ^3.1.1
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_staggered_grid_view: ^0.7.0
  go_router: ^17.0.1
  hive_ce: ^2.15.1
  hive_ce_flutter: ^2.3.3
  logger: ^2.6.2
  path_provider: ^2.1.5
  pkg_dio:
    path: pkg_dio

dev_dependencies:
  build_runner: ^2.10.4
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  hive_ce_generator: ^1.10.1
  very_good_analysis: ^10.0.0

flutter:
  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

